{% extends 'base.html' %} {% block title %}Home{% endblock title %} {% block content %}
<div class="container mx-auto px-4 py-8">
  <div class="relative max-w-4xl mx-auto">
    <div class="relative overflow-hidden rounded-lg shadow-lg">
      <div id="gallery-container" class="relative h-[480px]">
        {% for image in img_home %}
        <div
          class="gallery-image absolute w-full h-full transition-opacity duration-500 {% if forloop.first %}opacity-100{% else %}opacity-0{% endif %}"
          data-index="{{ forloop.counter0 }}"
        >
          <img src="{{image.image.url}}" alt="gallery image {{ forloop.counter }}" class="w-full h-full object-cover" />
          <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-40">
            <h2 class="text-white text-4xl font-bold mb-6 text-center">به تاشریفات سعادت خوش آمدید</h2>
            <a
              href="#"
              class="bg-color-b text-gray-800 px-8 py-3 rounded-full font-semibold hover:bg-gray-100 transition duration-300"
            >
              مشاهده خدمات
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
