{% load render_partial %}

<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
    {% include 'ref/js_ref.html' %}
  </head>
  <body>
    
    {% render_partial 'home_module.views.site_header_component' %}
    {% block content %}{% endblock %}  
    {% render_partial 'home_module.views.site_footer_component' %}

  </body>
</html>
