<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{service.title}}
    {{service.short_description}}
    {{service.max_guests}}
    {{service.description}}

    {% for menu in menus %}
    <h3>{{ menu.title }}</h3>
    
    <ul>
    {% for item in menu.items.all %}
        <li>{{ item.title }}</li>
    {% endfor %}
    </ul>

{% endfor %}
  

    {% for image in gallery %}
        <img src="{{ image.image.url }}" alt="s">
    {% endfor %}

</body>
</html>